body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e2a3b; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

.container {
    background-color: #f0f0f0; 
    color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}



label {
    display: inline-block;
    width: 100px; 
    margin-top: 15px;
    vertical-align: middle;
}


input[type="text"] {
    width: 70%; 
    padding: 5px;
    margin-left: 75px; 
    margin-top: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}


button {
    margin-top: 15px;
    padding: 8px 15px;
    width: 20%;
    display: block;
    cursor: pointer;
    
    /* Färg och Form */
    background-color: #d1d9e6; 
    color: #1e2a3b;            
    border: 1px solid #9ba7b5; 
    border-radius: 10px;      
    
    /*3D-effekt*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    /* Textinställning */
    font-size: 14px;
    text-align: center;
    transition: background-color 0.2s ease;
}

/* Lite mörkare vid hovring */
button:hover {
    background-color: #c2cbd8; 
}



input[type="checkbox"] {
    margin-top: 15px;
    margin-left: 75px;
    vertical-align: middle;
}

#myDiv {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #999;
    background-color: #fff;
    min-height: 20px;
}
